apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: promax1-certificate-tls
  namespace: external
spec:
  secretName: "${SECRET_PROMAX1_CERTIFICATE}"
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  dnsNames:
    - ${SECRET_PROMAX1_DOMAIN}
