apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: promax1
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`${SECRET_PROMAX1_DOMAIN}`)
      middlewares:
        - name: secured-chain
      services:
        - kind: Service
          name: promax1
          passHostHeader: true
          port: 8006
          serversTransport: transport-skip-verify
  tls:
    secretName: "${SECRET_PROMAX1_CERTIFICATE}"
