apiVersion: v1
kind: Service
metadata:
  name: rass
  namespace: default
spec:
  ports:
    - name: default
      port: 8123
      protocol: TCP
      targetPort: 8123
  clusterIP: None
  type: ClusterIP